html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
input,
select {
  vertical-align: middle;
}
body {
  font-size: 16px;
  font-family: 'Open Sans', Verdana, sans-serif;
}
.sprite {
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-comment {
  width: 26px;
  height: 25px;
  background-position: 0 -40px;
}
.sprite-dislike {
  width: 26px;
  height: 24px;
  background-position: 0 -65px;
}
.sprite-dislike-active {
  width: 26px;
  height: 24px;
  background-position: 0 -89px;
}
.sprite-like-active {
  width: 26px;
  height: 24px;
  background-position: 0 -113px;
}
.sprite-like {
  width: 26px;
  height: 24px;
  background-position: 0 -137px;
}
.sprite-add {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.sprite-close {
  width: 20px;
  height: 20px;
  background-position: 0 -20px;
}
.sprite-send {
  width: 26px;
  height: 27px;
  background-position: 0 -161px;
}
div.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 64em;
  height: 48em;
  margin: 0 auto;
  padding: 1.2em 1.625em;
  background-color: #f0f3f6;
  overflow: hidden;
  position: relative;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  color: #8499a7;
  z-index: 3;
  position: relative;
}
header h1 span {
  color: #21b8c6;
}
section.main {
  overflow: hidden;
  position: relative;
}
div.grid {
  height: 620px;
  margin: 1em 0;
}
div.grid-item {
  width: 235px;
  height: 200px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px #bfccd9;
  -moz-box-shadow: 0px 0px 13px #bfccd9;
  box-shadow: 0px 0px 13px #bfccd9;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
div.grid-item img,
div.grid-item.grid-item--width img {
  width: 100%;
  height: auto;
}
div.grid-item.grid-item--height img {
  width: auto;
  height: 100%;
}
div.grid-item--width {
  width: 480px;
}
div.grid-item--height {
  height: 410px;
}
.grid-item.placeholder {
  text-align: center;
  background: #fff;
  color: #a0b0ba;
}
.grid-item.placeholder input[type="file"] {
  position: absolute;
  opacity: 0;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.grid-item.placeholder p {
  margin: 0.7em;
  font-size: 0.9em;
  font-weight: 600;
}
.grid-item.placeholder .add-img-button {
  background: #21b8c6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 25% auto 0;
}
.grid-item.placeholder .add-img-button div {
  height: 100%;
  padding: 50%;
}
.grid-item.placeholder .add-img-button div i {
  margin: -10px;
}
.hover-box {
  background-color: rgba(255,255,255,0.95);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: -60px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 18px;
  cursor: default;
}
.grid-item:hover .hover-box,
.image-big .hover-box {
  bottom: 0;
}
.grid-item:nth-last-child(n+2) i,
.image-button i {
  float: left;
  position: relative;
}
.grid-item:nth-last-child(n+2) i:nth-child(n+2),
.image-button i:nth-child(n+2) {
  float: right;
  margin-left: 1.7em;
}
.grid-item:nth-last-child(n+2) i::after,
.image-button i::after {
  content: attr(data-count);
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  right: -0.8em;
  top: -0.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #a0b0ba;
  text-align: center;
  background: #fff;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 700;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: #21b8c6;
}
div.scroll {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #d1dae3;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  position: relative;
}
div.scroll[data-scroll-area="section.main"] {
  left: 0;
  bottom: -26px;
  height: 10px;
  width: 100%;
}
.popup div.scroll {
  width: 5px;
  height: 410px;
  position: absolute;
  top: 70px;
  right: 16px;
}
div.scroll div.scroll-bar {
  background: #21b8c6;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  position: absolute;
  margin: 0;
  width: 0;
  height: 100%;
}
.popup div.scroll div.scroll-bar {
  width: 100%;
  height: 70%;
}
div.popup {
  position: absolute;
  min-height: 48em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  z-index: 2;
  display: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
div.popup section {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 810px;
  height: 595px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -405px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(204,204,204,0.7);
  -moz-box-shadow: 5px 5px 10px rgba(204,204,204,0.7);
  box-shadow: 5px 5px 10px rgba(204,204,204,0.7);
  padding-bottom: 20px;
}
div.popup section .sprite-close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
div.popup section .image-big {
  float: left;
  width: 55.6%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../img/2big.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.popup section .image-big .hover-box {
  height: 60px;
  padding: 0;
}
div.popup section .image-big .hover-box .image-button {
  height: 60px;
  width: 60px;
  background: #e0e5e9;
  float: right;
  margin: -8px 8px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
div.popup section .image-big .hover-box .image-button:hover {
  -webkit-box-shadow: 3px 3px 5px #bbb;
  -moz-box-shadow: 3px 3px 5px #bbb;
  box-shadow: 3px 3px 5px #bbb;
}
div.popup section .image-big .hover-box .image-button.clicked.like {
  margin-top: 0;
  background: #28d0ce;
}
div.popup section .image-big .hover-box .image-button.clicked.like:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.popup section .image-big .hover-box .image-button.clicked.like i {
  background-position: 0 -113px;
}
div.popup section .image-big .hover-box .image-button.clicked.like i::after {
  border-color: #fff;
}
div.popup section .image-big .hover-box .image-button.clicked.dislike {
  margin-top: 0;
  background: #d02828;
}
div.popup section .image-big .hover-box .image-button.clicked.dislike:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.popup section .image-big .hover-box .image-button.clicked.dislike i {
  background-position: 0 -89px;
}
div.popup section .image-big .hover-box .image-button.clicked.dislike i::after {
  border-color: #fff;
}
.popup-comments {
  float: left;
  padding: 32px 38px 0 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 44.4%;
  height: 100%;
  background-clip: content-box;
  color: #8499a7;
  font-size: 1.5em;
}
.popup-comments h2 {
  font-weight: 600;
}
.popup-comments .comments {
  height: 420px;
  width: 100%;
  margin: 0 -8px 5px -6px;
  padding: 4px 8px 0 8px;
  border-bottom: 2px solid #d1dae3;
  font-size: 11px;
  overflow: hidden;
}
.popup-comments .comments .nickname,
.popup-comments .comments .date {
  color: #95a7b3;
  text-align: right;
  padding: 7px 0 4px;
  display: inline-block;
}
.popup-comments .comments .nickname::before {
  content: 'By ';
}
.popup-comments .comments .date {
  float: right;
  vertical-align: baseline;
}
.popup-comments .comments .comment-text {
  border: 2px solid #f0f3f6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.7em;
  font-size: 14px;
  line-height: 1.2;
  color: #607583;
}
.popup label {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
}
.popup label::after {
  content: attr(data-placeholder);
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-left: 10px;
  font-size: 0.6em;
  color: #95a7b3;
}
.popup label[for="nickname"]::after {
  height: 30px;
  padding-top: 12px;
  bottom: 12px;
}
.popup label[for="comment"]::after {
  height: 50px;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
  float: left;
}
.popup input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding-left: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #607583;
}
.popup input:focus {
  outline: none;
}
.popup input#nickname {
  height: 30px;
  border-bottom: 2px solid #f0f3f6;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-right: 10px;
}
.popup input#comment {
  height: 50px;
  width: 100%;
  border: 2px solid #f0f3f6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 20px;
  padding-right: 60px;
}
.popup input#nickname:focus,
.popup input#comment:focus {
  border-color: #21b8c6;
}
.popup input:focus + label::after {
  content: '';
}
.popup .send-button {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 12px;
  background: #21b8c6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 5;
}
.popup.orientation-chose {
  padding-top: 5em;
}
.popup.orientation-chose h2 {
  font-size: 1.5em;
  color: #8499a7;
  text-align: center;
  margin-bottom: 1em;
}
.popup.orientation-chose .frames {
  width: 725px;
  height: 410px;
  background: #fff;
  position: absolute;
  left: 50%;
  padding: 2em;
  margin-left: -394.5px;
}
.popup.orientation-chose .frames:hover .grid-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup.orientation-chose .frames .grid-item {
  position: absolute;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.popup.orientation-chose .frames .grid-item:hover::before {
  background: rgba(255,255,255,0);
}
.popup.orientation-chose .frames .grid-item:nth-child(1) {
  top: 2em;
  left: 2em;
}
.popup.orientation-chose .frames .grid-item:nth-child(2) {
  top: 2em;
  right: 2em;
}
.popup.orientation-chose .frames .grid-item:nth-child(3) {
  right: 2em;
  bottom: 2em;
}

/*# sourceMappingURL=main.css.map */
