//TODO: mixins
//TODO: user-select
@import "imports/reset.styl"
@import "imports/variables.styl"
@import "imports/mixins.styl"
// COMMON STYLES
body
  font-size $font-size
  font-family 'Open Sans', Verdana, sans-serif

.sprite
  background-image url(../img/icons.png)
  background-repeat no-repeat
  display block

.sprite-comment
  width 26px
  height 25px
  background-position 0 -40px

.sprite-dislike
  width 26px
  height 24px
  background-position 0 -65px

.sprite-dislike-active
  width 26px
  height 24px
  background-position 0 -89px

.sprite-like-active
  width 26px
  height 24px
  background-position 0 -113px

.sprite-like
  width 26px
  height 24px
  background-position 0 -137px

.sprite-add
  width 20px
  height 20px
  background-position 0 0

.sprite-close
  width 20px
  height 20px
  background-position 0 -20px

.sprite-send
  width 26px
  height 27px
  background-position 0 -161px

// MODULE STYLES
div.wrapper
  box-sizing(border-box)
  width 64em
  height 48em
  margin 0 auto
  padding 1.2em 1.625em
  background-color $background
  overflow hidden
  position relative

header h1
  text-transform uppercase;
  font-size 1.5em
  font-weight 800
  color $text-primary
  //to remain when popup appears
  z-index 3
  position relative
  & span
    color $main-color


// MASONRY GRID
section.main
  overflow hidden
  position relative

div.grid
  height 620px
  margin 1em 0

div.grid-item
  width 235px
  height 200px
  float left
  border-radius(5px)
  box-shadow(0px 0px 13px hsl(210,25,80))
  position relative
  overflow hidden
  user-select(none)
  cursor pointer
  & img
    width 100%
    height 100%
    transition 1.5s
    &:hover
      transform(scale(1.05))

div.grid-item--width
  width 480px

div.grid-item--height
  height 410px

.grid-item.placeholder
  text-align center
  background white
  color $text-secondary
  & p
    margin .7em
    font-size .9em
    font-weight 600
  .add-img-button
    background $main-color
    border-radius(50%)
    width 50px
    height 50px
    margin (50% - 25px) auto 0
    & div
      height 100%
      padding 50%
      & i
        margin -10px

.hover-box
  background-color hsla(0, 100%, 100%, 0.95)
  box-sizing border-box
  height $hover-box-height
  width 100%
  position absolute
  bottom -60px
  transition(.3s)
  padding: 18px
  .grid-item:hover &, .image-big &
    bottom 0

.grid-item:nth-last-child(n+2) i
.image-button i
  float left
  position relative

  &:nth-child(n+2)
    float right
    margin-left 1.7em

  &::after
    content attr(data-count)
    display block
    width 1.2em
    height 1.2em
    position absolute
    right -.8em
    top -.5em
    border-radius 50%
    border 2px solid $text-secondary
    text-align center
    background white
    font-size .7em
    font-style normal
    font-weight 700
    font-family 'Open Sans', Verdana, sans-serif
    color $main-color


// SCROLLBAR
//TODO: hide schrollbar by default
div.scroll
  position absolute
  box-sizing(border-box)
  background $scroll-box
  border-radius(.5em)
  position relative

  &[data-scroll-area="section.main"]
    left 0
    bottom -26px
    height 10px
    width 100%

  .popup &
    width 6px
    height 410px
    position absolute
    top 70px
    right 16px

  & div.scroll-bar
    background $main-color
    border-radius(.5em)
    cursor pointer
    position absolute
    margin 0

    [data-scroll-area="section.main"] &
      width 0
      height 100%;

    .popup &
      width 100%
      height 70%

// POPUP
div.popup
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background hsla(0, 100%, 100%, 0.8);
  z-index 2

  & section
    position absolute
    top 90px
    left 50%
    width w = $popup-section-width
    height $popup-section-height
    box-sizing(border-box)
    margin-left -(w / 2)
    background hsla(0, 100%, 100%, 1)
    box-shadow(5px 5px 10px hsla(0, 0, 80%, .7))
    padding-bottom 20px

    & .sprite-close
      position absolute
      top 12px
      right 12px
      cursor pointer

    & .image-big
      float left
      width 55.6%
      height 100%
      position relative
      overflow hidden
      background-image url('../img/3big.jpg')
      background-position top center
      background-repeat no-repeat
      background-size cover

      & .hover-box
        height $hover-box-height
        padding 0
        & .image-button
          height $hover-box-height
          width $hover-box-height
          background $image-button-background
          float right
          margin -8px 8px 0 0
          box-sizing border-box
          padding: 18px
          transition(.2s linear)
          cursor pointer
          &:hover
            box-shadow(3px 3px 5px #bbb)
          &.clicked.like
            activate-image-button('like')
          &.clicked.dislike
            activate-image-button('dislike')

.popup-comments
  float left
  padding 32px 38px 0 32px
  box-sizing(border-box)
  width 44.4%
  height 100%
  background-clip content-box
  color $text-primary
  font-size 1.5em
  font-weight 400
  & .comments
    height $comments-height
    width 100%
    margin 0 -8px
    padding 4px 8px 0 8px
    border-bottom 2px solid $scroll-box
    font-size 11px
    overflow hidden
    & .nickname
    & .date
      color $text-secondary
      text-align right
      padding 7px 0 4px
      display inline-block
    & .login::before
      content 'By '
    & .date
      float right
      vertical-align baseline
    & .comment-text
      border 2px solid $background
      border-radius(3px)
      padding .7em
      font-size 1.3em
      line-height 1.2
      color $comments-text

.popup label
  position relative
  display block
  width 100%
  height 0

  &::after
    content attr(data-placeholder)
    display block
    box-sizing border-box
    width 100%
    position absolute
    left 10px
    font-size .6em
    color $placeholder-color

  &[for="nickname"]::after
    height 30px
    padding-top 12px
    bottom 12px
  &[for="comment"]::after
    height 50px
    width 100%
    bottom -10px
    float left

.popup input
  width 100%
  box-sizing border-box
  border none
  padding-left 10px
  font-family 'Open Sans'
  font-weight 600
  color $comments-text

  &:focus
    outline none

  &#nickname
    height 30px
    border-bottom 2px solid $background
    margin-bottom 10px
    padding-top 6px
  &#comment
    height 50px
    width 100%
    border 2px solid $background
    border-radius(3px)
    padding-bottom 20px
  &#nickname:focus
  &#comment:focus
    border-color $main-color
  &:focus + label::after
    content ''

.popup .send-button
  position absolute
  right 0
  bottom 0
  box-sizing border-box
  width 50px
  height 50px
  padding 12px
  background $main-color
  border-radius(2px)
  cursor pointer

// TODO: add and remove variables due to how often are they used
// TODO: do something with pixels
