box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

user-select(n)
  -webkit-user-select n
  -moz-user-select n
  -ms-user-select n
  user-select n

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments


activate-image-button(button)
  margin-top 0
  &:hover
    box-shadow none
  if (button == 'like')
    background $like-background
    & i
      background-position 0 -113px
  else
    background $dislike-background
    & i
      background-position 0 -89px
  & i::after
    border-color white
