html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
del, dfn, em, img,
dl, dt, dd, ol, ul, li, form, label,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  background transparent
  border 0
  font-size 100%
  margin 0
  outline 0
  padding 0
  vertical-align baseline

body
  line-height:1;

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

a
  background transparent
  font-size 100%
  margin 0
  padding 0
  vertical-align baseline

input, select
  vertical-align middle
