$font-size = 16px

// COLORS
$main-color = #21b8c6
$like-count = #0D7F8A
$background = #f0f3f6
$dislike-background = #d02828
$like-background = #28d0ce
$image-button-background = #e0e5e9
$text-primary = #8499a7
$text-secondary = #a0b0ba
$scroll-box = #d1dae3
$comments-text = #607583
$placeholder-color = #95a7b3

$grid-item-width = 235px
$grid-item-height = 200px
$wide-grid-item = 480px
$high-grid-item = 410px

$popup-section-width = 810px
$popup-section-height = 595px
$hover-box-height = 60px
$comments-height = 420px
