$font-size = 16px

// COLORS
$main-color = #21b8c6
$background = #f0f3f6
$hover-background = #f3f3f3
$text-primary = #8499a7
$redisch = #d02828
$popup-grey-background = #e0e5e9
$text-secondary = #a0b0ba
$scroll-box = #d1dae3
$active-button = #28d0ce
